html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  width: 100% !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family:
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
}

#app {
  height: 100%;
}

.el-button + .el-button {
  margin-left: 0 !important;
}

.ttz-button + .ttz-button {
  margin-left: 0 !important;
} 
.el-tabs--border-card > .el-tabs__content {
  padding: 0px !important
}
.el-message-box__message {
  width: 100%;
}